<form action="/dashboard/addstation" method="POST">
  <div class="field">
    <label class="label">Add New Station</label>
    <input class="input" type="text" placeholder="Enter station title" name="title">
  </div>
  <div class="field">
    <label class="label">Add Station Latitude</label>
    <input class="input" type="text" placeholder="Enter station latitude" name="title">
  </div>
  <div class="field">
    <label class="label">Add Station Longitude</label>
    <input class="input" type="text" placeholder="Enter station longitude" name="title">
  </div>
  <button class="button is-link">Add Station</button>
</form>