<form class="section box" action="/dashboard/addstation" method="POST">
  <h1 class="is-size-3 has-text-weight-bold is-primary">
    Add Weather Station
  </h1>
  <div class="field-body">
    <div class="field">
    <label class="label has-text-weight-semibold is-size-4">Add New Station</label>
    <input class="input" type="text" placeholder="Enter station title" name="title">
  </div>
  <div class="field">
    <label class="label has-text-weight-semibold is-size-4">Add Station Latitude</label>
    <input class="input" type="text" placeholder="Enter station latitude" name="latitude">
  </div>
  <div class="field">
    <label class="label has-text-weight-semibold is-size-4">Add Station Longitude</label>
    <input class="input" type="text" placeholder="Enter station longitude" name="longitude">
  </div>
  </div>
  
     <button class="button is-link ">Add Station</button>
 
 
</form>
