<div class="title p-3 is-flex">
  <div class="is-flex is-align-items-center">
    <!-- Logo and WeatherTop text -->
    
     {{>icons/logo }}
    
    <div class="ml-3">
      <span class="is-size-3 has-text-weight-bold has-text-primary">WeatherTop</span>
    </div>
  </div>
  <!-- Company description text -->
  <div class="ml-4">
    <span class="is-size-5">(WeatherTop Services Inc.)</span>
  </div>
</div>