<section>
{{> menu}}



  <!-- Include the list-reports partial -->
  {{>list-reports}}
  

  <!-- Form to add a new report -->
  <form class="box" action="/station/{{station._id}}/addreport" method="POST">
    <label>Enter Report Details:</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="Enter Location" name="location">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter Code" name="code">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter Temperature" name="temperature">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter Wind Direction" name="windDirection">
          <option>Nort(N)</option>
          <option>Norteast(NE)</option>
          <option>Nortwest(NW)</option>
          <option>South(S)</option>
          <option>Souteast(SE)</option>
          <option>Southwest(SW)</option>
          
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter Pressure" name="pressure">
        </div>
      </div>
    </div>
    <button class="button is-primary">Submit Report</button>
  </form>
</section>
